build/
build.2/
coco/
bin/
external/
traced/
dataset/
bin/ResultModel_Instance.ply
bin/ResultModel_InstanceGT.ply
bin/ResultModel.ply
bin/ResultModel.freiburg
elasticfusionpublic/build
elasticfusionpublic/Core/build/
elasticfusionpublic/Core/CMakeFiles/
elasticfusionpublic/Core/cmake_install.cmake
elasticfusionpublic/Core/CMakeCache.txt
elasticfusionpublic/Core/Makefile
elasticfusionpublic/deps/
elasticfusionpublic/GUI/build/
deps/maskrcnn-benchmark-master/
external/
deps/flann-1.8.4/build/
deps/mask_rcnn/__pycache__/
deps/mask_rcnn/image_test/
deps/mask_rcnn-benchmark-master/
deps/mask_rcnn/image test/
deps/mask_rcnn/mask_rcnn_coco.h5
README2.md
traced/
dataset/
elasticfusionpublic/build
